.Board__row {
    display: flex;
}
.Board__white {
    background: #FFF;
    width: 100px;
    height: 100px;
    color: green;
    font-weight: bold;
}
.Board__black {
    background: #000;
    width: 100px;
    height: 100px;
    color: green;
    font-weight: bold;
}