.Board__row {
    display: flex;
}
.Board__white {
    background: #EEEED2;
    width: 100px;
    height: 100px;
    color: green;
    font-weight: bold;
}
.Board__black {
    background: #769656;
    width: 100px;
    height: 100px;
    color: green;
    font-weight: bold;
}
.Board__row > div {
    display: flex;
    justify-content: center;
    align-items: center;
}